
.gradient-text {
    font-weight: 700;
    background: linear-gradient(90deg, #8e1696,#8eb9ff,#7caeff,#b2cffe,#7fb0ff,#488eff,#3884ff, #f172c4, #8e1696);
    background-size: 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 10s infinite;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0%;
    }
    50% {
      background-position: 100%;
    }
    100% {
      background-position: 0%;
    }
  }

  /* .img{
    background-image: url('../img/image.png');
    background-position: right;
  } */
   .main{
    background: #000000c7;
   }
  .bg-ex{
    padding: 29px;
    background: #4c1e5173;
    border-radius: 20px;
    color: white;
  }
  .hero{
    background-color: #4c1e51;
    height: 100vh;
  }
  .he{
    padding-top: 30vh; }
  .btn{
    background: #a077ff;
    background: -moz-linear-gradient(top, #a077ff 0%, #ef67ff 100%);
    background: -webkit-linear-gradient(top, #a077ff 0%, #ef67ff 100%);
    background: linear-gradient(to bottom, #a077ff 0%, #ef67ff 100%);
    border: 1px solid #F067FF;
    border-radius: 30px;
    width: 225px;
  }
  .con{
    border: 2px solid #9c42a5;
    padding: 22px;
    border-radius: 30px;
  }
  .why{
    border-radius: 13px;
  }
  nav{
    background: #2D0A31;
  }
  .why p{
    font-size: 18px;
  }
  .btn-danger{
    width: 86px;
    height: 34px;
    background: red;
    border: red;
    color: #ffffff;
    border-radius: 5px;
  }
  .btn-success{
    width: 86px;
    height: 34px;
    background: #00ff7a;
    border: red;
    color: #ffffff;
    border-radius: 5px;
  }