
.gradient-text {
    font-weight: 700;
    background: linear-gradient(90deg, #8e1696,#8eb9ff,#7caeff,#b2cffe,#7fb0ff,#488eff,#3884ff, #f172c4, #8e1696);
    background-size: 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 10s infinite;
  }

  @keyframes gradientMove {
    0% {
      background-position: 0%;
    }
    50% {
      background-position: 100%;
    }
    100% {
      background-position: 0%;
    }
  }

  /* .img{
    background-image: url('../img/image.png');
    background-position: right;
  } */
   .main{
    /* background: #000000c7; */
background: #222222

;
  }
  .bg-ex{
    padding: 29px;
    background: #4c1e5173;
    border-radius: 20px;
    color: white;
  }
  .hero{
    background-color: #4c1e51;
    /* height: 100vh; */
    padding-bottom: 95px;
  }
  .he{
    padding-top: 30vh; }
  .btn{
    --angle: 45deg; 
    background: linear-gradient(var(--angle), oklab(20.9% 0.034 -0.061), oklab(23.8% 0.064 -0.046), oklab(23.4% 0.065 -0.015));
   
    border-radius: 30px;
    width: 225px;
  }
  .con{
    border: 2px solid #9c42a5;
    padding: 22px;
    border-radius: 30px;
  }
  .why{
    border-radius: 13px;
  }
  /* .contact{
    margin: 30px 290px;
  } */
  nav{
    background-image: url('../img/nav.png'); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
    /* background: #2D0A31; */
  }
  .herooo{
    /* background-color: #4c1e51; */
    --angle: 45deg; 
    background: linear-gradient(var(--angle), oklab(20.9% 0.034 -0.061), oklab(23.8% 0.064 -0.046), oklab(23.4% 0.065 -0.015));
   
  }
  .why p{
    font-size: 18px;
  }
  .btn-danger{
    width: 86px;
    height: 34px;
    background: red;
    border: red;
    color: #ffffff;
    border-radius: 5px;
  }
  .btn-success{
    width: 86px;
    height: 34px;
    background: #00ff7a;
    border: red;
    color: #ffffff;
    border-radius: 5px;
  }
  footer{
    /* background: #2D0A31; */
    border-radius: 20px;
    background-image: url('../img/footer.png'); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  }
  .footer-logo {
    width: 110px; /* Adjust size as needed */
    height: auto;
  }
  .about p{
    font-weight: 700;
    font-size: 17px;
  }